<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="masthead-container">
        {% if current_user.is_authenticated %}
            <a class="nav-button" href="{{ url_for('dashboard') }}">dashboard</a>
        {% endif %}    
        <div class="nav-container">
            <a class="nav-button"href="/">logout</a>
        </div>
    </div>
    <div class="stage-hero">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>
</html>